<div id="foodImg">
	<div ng-if="display.options.doShow">
		<div style="font-size: xx-large">מה אכלת היום?</div>
		<div class="container">
			<img class="image" style="width: 100%; height: 100%"
				 ng-src={{display.options.value.mainProducts[0].imgSrc}}
				 ng-model="display.options.value.mainProducts[0]"
				 ng-click= "showTinder(display.options.value.mainProducts[0], 0)"
				  />
			<p class="text">
				עוף
			</p>
		</div>
		<div class="container">
			<img class="image" style="width: 100%; height: 100%"
				 ng-src={{display.options.value.mainProducts[1].imgSrc}}
				 ng-model="display.options.value.mainProducts[1]"
				  ng-click= "showTinder(display.options.value.mainProducts[1], 1)"
			<p class="text">
				עוף
			</p>
		</div>
	</div>
	<div ng-if= "display.tinder.doShow" id="myImage">
		<img style="width: 100%; height: 100%" ng-src={{display.tinder.value.imgSrc}} />
		<center><b><i>{{display.tinder.value.title}}</i></b></center>
	</div>
	<div ng-if= "display.explain.doShow" style="width: 100%; height: 100%;">
		<div>מה היית משפר?</div>

			<div style="width:95%; margin: 3%" class="row">
				<button ng-click="optionClicked()" style="width:100%" class="btn btn-primary">מחליף רוטב</button>
			</div>

			<div style="width:95%; margin: 3%" class="row">
				<button style="width:100%" class="btn btn-success">רוטב בנפרד</button>
			</div>

			<div style="width:95%; margin: 3%" class="row">
				<button style="width:100%" class="btn">מעט מדי רוטב</button>
			</div>
			<div style="width:95%; margin: 3%" class="row">
				<button style="width:100%" class="btn btn-warning">יותר מדי רוטב</button>
			</div>
	</div>
	<div ng-if="showCongradulations" style="width: 100%; height: 100%;">
		<div style="font-size: xx-large; margin-right: 20%;">קודמת בתור לחד"א!</div>
		<img class="image" 
			 ng-src= {{congradsLink}}
			  />
		
	</div>

</div>

