<div id="menu">

</div>
<h1>תפריט יומי</h1>\
<br />
<div class="container">
	<div id="carousel">
		<figure><img id="myImg" src="/images/Chicken.jpeg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img id="myImg" src="/images/CucumberSalad.jpg " style="height: 115px; width:250px;" alt=""></figure>
		<figure><img id="myImg" src="/images/Fries.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img id="myImg" src="/images/Hamburger.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img id="myImg" src="/images/Pasta.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img id="myImg" src="/images/Rice.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img id="myImg" src="/images/SaladBar.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img id="myImg" src="/images/Shnitzel.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img id="myImg" src="/images/Kobab.jpg" style="height: 115px; width:250px;" alt=""></figure>
	</div>
</div>
<br />
<br />
<table class="table">
	<tr>
		<td>
			<h3>עיקריות</h3>
		</td>
		<td>
			<h3>תוספות</h3>
		</td>
		<td>
			<h3>סלטים</h3>
		</td>
	</tr>
	<tr>
		<td>
			<center>שניצל ביתי</center>
		</td>
		<td>
			<center>אורז לבן</center>
		</td>
		<td>
			<center>סלט מלפפונים</center>
		</td>
	</tr>
	<tr>
		<td>
			<center>קבב</center>
		</td>
		<td>
			<center>פסטה עם רוטב עגבניות</center>
		</td>
		<td>
			<center>סלט ירקות</center>
		</td>
	</tr>
	<tr>
		<td>
			<center>שניצל תירס</center>
		</td>
		<td>
			<center>קוסקוס</center>
		</td>
		<td>
			<center>סלט חצילים ועגבניות</center>
		</td>
	</tr>
	<tr>
		<td>
			<div></div>
		</td>
		<td>
			<div></div>
		</td>
		<td>
			<center>הרכבה עצמית כולל טחינה ולימון</center>
		</td>
	</tr>

</table>