<div id="menu">

</div>
<h1>תפריט יומי</h1>\
<br />
<div class="container">
	<div id="carousel">
		<figure><img src="/images/Chicken.jpeg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img src="/images/CucumberSalad.jpg " style="height: 115px; width:250px;" alt=""></figure>
		<figure><img src="/images/Fries.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img src="/images/Hamburger.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img src="/images/Pasta.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img src="/images/Rice.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img src="/images/SaladBar.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img src="/images/Shnitzel.jpg" style="height: 115px; width:250px;" alt=""></figure>
		<figure><img src="/images/Kobab.jpg" style="height: 115px; width:250px;" alt=""></figure>
	</div>
</div>
<br />
<br />
<table class="table">
	<tr>
		<td>
			<h3>עיקריות</h3>
		</td>
		<td>
			<h3>תוספות</h3>
		</td>
		<td>
			<h3>סלטים</h3>
		</td>
	</tr>
	<tr>
		<td>
			<div>שניצל ביתי</div>
		</td>
		<td>
			<div>אורז לבן</div>
		</td>
		<td>
			<div>סלט מלפפונים</div>
		</td>
	</tr>
	<tr>
		<td>
			<div>קבב</div>
		</td>
		<td>
			<div>פסטה עם רוטב עגבניות</div>
		</td>
		<td>
			<div>סלט ירקות</div>
		</td>
	</tr>
	<tr>
		<td>
			<div>שניצל תירס</div>
		</td>
		<td>
			<div>קוסקוס</div>
		</td>
		<td>
			<div>סלט חצילים ועגבניות</div>
		</td>
	</tr>
	<tr>
		<td>
			<div></div>
		</td>
		<td>
			<div></div>
		</td>
		<td>
			<div>הרכבה עצמית כולל טחינה ולימון</div>
		</td>
	</tr>

</table>